body{background-color:      #302d38; }
h1{color:    #9c99a5;font-family: Helvetica; font-size: 20px }
p{color:   #000000;font-family: Helvetica; font-size: 20px}
a{color: #ffffff ;font-family: Helvetica; font size: 20px} 

